 #header-bar{
    display: flex;
    justify-content: space-between;
   
 }
 #logo {
    margin: 0;
    color: #164863;
 }
 .Navbar {
    display: flex;
    gap: 10px;

 }
 .Navbar>a{
    text-decoration: none;
 }
 .input-section {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 60px;

 }
 label{
    margin-bottom: 4px; 
    font-size: small;
    color: #61A3BA;
 }
 input{
    outline: none;
    border: solid wheat;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
 }
 input:focus {
    border: solid yellow;
 }
 button{
    background-color: #FFFFDD;
    border-radius: 5px;
    border: solid wheat;
    margin-top: 4px ;
    padding: 4px 8px;
    cursor: pointer;
    border: none;
}
button:hover {
    background-color:#A2C579;
}
button:active {
    transform: translateY(2px);
    background-color: #498805;
}